body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100vh;
    background: rgb(8, 8, 8);
    font-family: Luxurious Roman;
}
#m{
    padding-left: 20px;
}
#n{
    padding-right: 20px;
}

h1{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 5em;
    word-spacing: 0px;
}
h1 span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 4s linear infinite;
}


h1,span:nth-child(1)
{
    animation-delay: 0s;
}
h1 span:nth-child(2)
{
    animation-delay: 0.25s;
}
h1 span:nth-child(3)
{
    animation-delay: 0.5s;
}
h1 span:nth-child(4)
{
    animation-delay: 0.75s;
}
h1 span:nth-child(5)
{
    animation-delay: 1s;
}
h1 span:nth-child(6)
{
    animation-delay: 1.25s;
}
h1 span:nth-child(7)
{
    animation-delay: 1.5s;
}
h1 span:nth-child(8)
{
    animation-delay: 1.75s;
}
h1 span:nth-child(9)
{
    animation-delay: 2s;
}
h1 span:nth-child(10)
{
    animation-delay: 2.25s;
}
h1 span:nth-child(11)
{
    animation-delay: 2.5s;
}
h1 span:nth-child(12)
{
    animation-delay: 2.75s;
}
h1 span:nth-child(13)
{
    animation-delay: 3s;
}
h1 span:nth-child(14)
{
    animation-delay: 3.25s;
}
h1 span:nth-child(15)
{
    animation-delay: 3.5s;
}

@keyframes animate
{
    0%, 100%
    {
        color: #fff;
        filter: blur(1px);
        text-shadow:
         0 0 1px #00b3ff,
        0 0 2px #00b3ff,
        0 0 4px #00b3ff,
        0 0 4px #00b3ff,
        0 0 8px #00b3ff,
        0 0 12px #00b3ff,
        0 0 20px #00b3ff,
        0 0 30px #00b3ff,
        0 0 40px #00b3ff,
        0 0 50px #00b3ff,
        0 0 60px #00b3ff,
        0 0 70px #00b3ff,
        0 0 80px #00b3ff,
        0 0 90px #00b3ff,
        0 0 100px #00b3ff;

    }
    5%, 95%{
        color: #111;
        filter: blur(0px);
        text-shadow:  none;
    }
}